* {
    font-family: Arial, Helvetica, sans-serif;
}

#houses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    text-align: center;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.house h1 {
    margin: 0px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    border-radius: 5px;
}

.house h2 {
    margin: 0px;
}

#modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
}

#details {
    text-align: center;
    padding: 20px;
    color: white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background: rgb(5,5,60);
    border: 1px solid white;
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#details h2{
    margin-top: -45px;
}